apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: voting-app
  labels:
    app: db
  name: db
spec:
  replicas: 1
  selector:
    matchLabels:
      app: db
  template:
    metadata:
      labels:
        app: db
    spec:
      containers:
      - image: registry.redhat.io/rhel9/postgresql-15:latest
        name: postgres
        env:
        - name: POSTGRESQL_USER
          value: postgres
        - name: POSTGRESQL_PASSWORD
          value: postgres
        - name: POSTGRESQL_DATABASE
          value: postgres
        ports:
        - containerPort: 5432
          name: postgres
        volumeMounts:
        - mountPath: /var/lib/pgsql/data
          name: db-data
      volumes:
      - name: db-data
        emptyDir: {} 
